@import './utils/var';
@import './utils/mixins';
@import './pages/pages';
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

@include general-style;

.loader {
    @include flex-row-center;
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    z-index: -1;
    font-size: 6.5rem;
    animation: loader 3s;

    &__dot {
        align-items: center;
        position: relative;
        animation: blink 1s;

        &.one {
            animation-delay: .3s;
        }

        &.two {
            animation-delay: .6s;
        }

        &.three {
            animation-delay: .9s;
        }
    }
}
@keyframes loader {
    0% {
        background-color: #9356DC;
        z-index: 2;
        font-size: 3.5rem;
    }

    33% {
        background-color: #9356DC;
        z-index: 2;
        font-size: 6.5rem;
    }

    66% {
        background-color: #9356DC;
        z-index: 2;
        font-size: 3.5rem;
    }
    99% {
        background-color: #9356DC;
        z-index: 2;
        font-size: 6.5rem;
    }

    100% {
        z-index: -1;
    }
}
@keyframes blink {
    0% {
        opacity: 0.2;
    }

    33% {
        opacity: 1;
    }

    66% {
        opacity: .5;
    }

    100% {
        opacity: 0;
    }
}

.header {
    @include flex-column-center;
    text-align: center;
    &__logo {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    &__location {
        @include flex-row-center;
        background-color: #eaeaea;
        height: 2.5rem;
        box-shadow: inset 0px 11px 3px -9px #ccc;

        &__marker {
            margin-right: 0.5rem;
        }
    }
}

.reservation {
    @include flex-column-center;
    text-align: center;
    align-items: center;
    background-color: #f6f6f6;

    &__title {
        text-align: center;
        margin: 3rem 2rem 0rem 2rem;
    }

    &__text {
        margin: 1rem 2rem 2rem 2rem;
    }

    &__button {
       @include button
    }

    &__button:hover {
        @include button-hover
    }
}

.tutorial {
    margin: 3rem 1rem 4rem 2rem;

    &__list {
        @include flex-column-center;
        @include breakpoint(tablet) {
            margin:0 10rem;
        }
    }

    &__number {
        @include flex-row-center;
        color: #fff;
        position: absolute;
        left: -0.9rem;
        width: 1.5rem;
        height: 1.5rem;
        background-color: #9356DC;
        border: 1px solid #9356DC;
        border-radius: 1rem;
    }

    &__logo {
        position: absolute;
        left: 8%;
        color: #bdbdbd;
        font-size: 20px;
        @include breakpoint(mobilemed) {
            left: 12%;
        }
    }

    &__button {
        @include flex-row-center;
        background-color: #f6f6f6;
        border-radius: 1.5rem;
        box-shadow: 0 0.1rem 0.2rem 0.2rem rgb(214 209 209 / 70%);
        margin-top: 2rem;
        height: 5rem;
        transition: all 0.2s ease-in;
        position: relative;
    }

    &__button:hover {
        background-color: #f5edff;
        box-shadow: 10px 20px 19px rgb(0 0 0 / 10%);
        transform: scale(1.01);
    }

    &__button:hover>&__logo {
        color: #9356DC;
    }
}

.restaurants {
    @include flex-column-center;
    padding: 3.5rem 1rem 4rem 1rem;
    justify-content: center;
    background-color: #efefef;

    &__title {
        margin-bottom: 1rem;
        @include breakpoint(tablet) {
            margin-left: 3%;
        }
    }

    &__grid {
        @include flex-column-center;
        align-items: center;
        flex-wrap: wrap;
        @include breakpoint(tablet) {
            @include resto-template-desktop;
        }
    }

    &__new {
        padding: 0.5rem;
        background-color: #99E2D0;
        color: #35a78b;
        font-weight: bold;
        position: absolute;
        right: 1.5rem;
        top: 1rem;
    }

    &__card {
        position: relative;
        width: 100%;
        border-radius: 1rem;
        @include breakpoint(tablet) {
            width:45%;
        }
    }

    &__images {
        height: 12rem;
        overflow: hidden;
        border-radius: 1rem 1rem 0 0;
    }

    &__images img {
        object-fit: cover;
        height: 12rem;
        width: 100%;
    }

    &__description {
        color: black;
        background-color: white;
        border-radius: 0 0 1rem 1rem;
        margin-bottom: 2rem;

        & p,
        h3 {
            font-size: 100%;
        }

        & h3 {
            padding: 1rem 1rem 0rem 1rem;
        }

        & p {
            padding: 0.5rem 1rem 1rem 1rem;
        }
    }
    @include heart-like-anim;
    &__like--empty,
    &__like--filled {
        bottom: 3.5rem;
        right: 2rem;
    }
}

.footer {
    @include footer-rules;
    @include footer-template-mobile;
    @include breakpoint(phablet) {
        @include footer-template-desktop;
    }

}