/*********************
BREAKPOINTS
*********************/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.header-pages {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-pages__link {
  position: absolute;
  left: 1.2rem;
  top: 0.5rem;
  font-weight: 900;
  font-size: 25px;
  color: black;
}
.header-pages__logo {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.header-pages__img {
  width: 100%;
  height: 18rem;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 2rem 1rem;
  position: relative;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background-color: #f6f6f6;
  bottom: 3rem;
  z-index: 1;
  justify-content: space-around;
}
.menu__like--empty, .menu__like--filled {
  font-size: 1.5rem;
  position: absolute;
  bottom: 3.5rem;
  right: 2rem;
  cursor: grab;
  transition: all 0.3s ease-in-out;
}
.menu__like--empty {
  opacity: 1;
}
.menu__like--filled {
  opacity: 0;
}
.menu__like--empty:hover {
  opacity: 0;
}
.menu__like--filled:hover {
  opacity: 1;
  background: linear-gradient(90deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  border-radius: 0.5rem;
}
.menu__like--empty, .menu__like--filled {
  top: 2rem;
  right: 1rem;
}
.menu__button {
  font-family: "Roboto", sans-serif;
  color: #fff;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-size: 200%;
  background-image: linear-gradient(90deg, #FF79DA, #9356DC);
  background-position: 80%;
  box-shadow: 0 0 5px #0000002e;
  margin-bottom: 3rem;
  transform: scale(1.05);
  background-position: 30%;
}

* {
  margin: 0;
  padding: 0;
}

p {
  font-family: "Roboto Light", arial;
}

h1,
.footer__title, .menu__title {
  font-family: "Shrikhand", cursive;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

h3 {
  font-weight: bold;
}

.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;
  z-index: -1;
  font-size: 6.5rem;
  animation: loader 3s;
}
.loader__dot {
  align-items: center;
  position: relative;
  animation: blink 1s;
}
.loader__dot.one {
  animation-delay: 0.3s;
}
.loader__dot.two {
  animation-delay: 0.6s;
}
.loader__dot.three {
  animation-delay: 0.9s;
}

@keyframes loader {
  0% {
    background-color: #9356DC;
    z-index: 2;
    font-size: 3.5rem;
  }
  33% {
    background-color: #9356DC;
    z-index: 2;
    font-size: 6.5rem;
  }
  66% {
    background-color: #9356DC;
    z-index: 2;
    font-size: 3.5rem;
  }
  99% {
    background-color: #9356DC;
    z-index: 2;
    font-size: 6.5rem;
  }
  100% {
    z-index: -1;
  }
}
@keyframes blink {
  0% {
    opacity: 0.2;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.header {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header__logo {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.header__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  height: 2.5rem;
  box-shadow: inset 0px 11px 3px -9px #ccc;
}
.header__location__marker {
  margin-right: 0.5rem;
}

.reservation {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #f6f6f6;
}
.reservation__title {
  text-align: center;
  margin: 3rem 2rem 0rem 2rem;
}
.reservation__text {
  margin: 1rem 2rem 2rem 2rem;
}
.reservation__button {
  font-family: "Roboto", sans-serif;
  color: #fff;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-size: 200%;
  background-image: linear-gradient(90deg, #FF79DA, #9356DC);
  background-position: 80%;
  box-shadow: 0 0 5px #0000002e;
  margin-bottom: 3rem;
}
.reservation__button:hover {
  transform: scale(1.05);
  background-position: 30%;
}

.tutorial {
  margin: 3rem 1rem 4rem 2rem;
}
.tutorial__list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .tutorial__list {
    margin: 0 10rem;
  }
}
.tutorial__number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  left: -0.9rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 1rem;
}
.tutorial__logo {
  position: absolute;
  left: 8%;
  color: #bdbdbd;
  font-size: 20px;
}
@media (min-width: 375px) {
  .tutorial__logo {
    left: 12%;
  }
}
.tutorial__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 1.5rem;
  box-shadow: 0 0.1rem 0.2rem 0.2rem rgba(214, 209, 209, 0.7);
  margin-top: 2rem;
  height: 5rem;
  transition: all 0.2s ease-in;
  position: relative;
}
.tutorial__button:hover {
  background-color: #f5edff;
  box-shadow: 10px 20px 19px rgba(0, 0, 0, 0.1);
  transform: scale(1.01);
}
.tutorial__button:hover > .tutorial__logo {
  color: #9356DC;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 3.5rem 1rem 4rem 1rem;
  justify-content: center;
  background-color: #efefef;
}
.restaurants__title {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .restaurants__title {
    margin-left: 3%;
  }
}
.restaurants__grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .restaurants__grid {
    flex-direction: row;
    justify-content: space-around;
  }
}
.restaurants__new {
  padding: 0.5rem;
  background-color: #99E2D0;
  color: #35a78b;
  font-weight: bold;
  position: absolute;
  right: 1.5rem;
  top: 1rem;
}
.restaurants__card {
  position: relative;
  width: 100%;
  border-radius: 1rem;
}
@media (min-width: 768px) {
  .restaurants__card {
    width: 45%;
  }
}
.restaurants__images {
  height: 12rem;
  overflow: hidden;
  border-radius: 1rem 1rem 0 0;
}
.restaurants__images img {
  object-fit: cover;
  height: 12rem;
  width: 100%;
}
.restaurants__description {
  color: black;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  margin-bottom: 2rem;
}
.restaurants__description p,
.restaurants__description h3 {
  font-size: 100%;
}
.restaurants__description h3 {
  padding: 1rem 1rem 0rem 1rem;
}
.restaurants__description p {
  padding: 0.5rem 1rem 1rem 1rem;
}
.restaurants__like--empty, .restaurants__like--filled {
  font-size: 1.5rem;
  position: absolute;
  bottom: 3.5rem;
  right: 2rem;
  cursor: grab;
  transition: all 0.3s ease-in-out;
}
.restaurants__like--empty {
  opacity: 1;
}
.restaurants__like--filled {
  opacity: 0;
}
.restaurants__like--empty:hover {
  opacity: 0;
}
.restaurants__like--filled:hover {
  opacity: 1;
  background: linear-gradient(90deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  border-radius: 0.5rem;
}
.restaurants__like--empty, .restaurants__like--filled {
  bottom: 3.5rem;
  right: 2rem;
}

.footer {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
}
.footer__title {
  margin: 1.5rem 0rem 1.5rem 2.5rem;
}
.footer__list {
  margin: 1rem 0rem 1rem 0rem;
}
.footer__item {
  list-style-type: none;
  margin-left: 2.5rem;
  margin-bottom: 0.5rem;
}
.footer__item a {
  color: white;
}
@media (min-width: 580px) {
  .footer {
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: row;
  }
}

/*# sourceMappingURL=style.css.map */
