@keyframes fadeIn {
    from {
        top: 4rem;
        opacity: 0;
    }

    to {
        top: 0rem;
        opacity: 1;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
main {
    background-color: #f6f6f6;
}
.header-pages {
    @include flex-column-center;
    align-items: center;

    &__link {
        position: absolute;
        left: 1.2rem;
        top: 1.5rem;
        font-weight: 900;
        font-size: 25px;
        color: black;
    }

    &__logo {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    &__img {
        width: 100%;
        height: 18rem;
        object-fit: cover;
    }
}

.menu {
    @include flex-column-center;
    @include heart-like-anim;
    padding: 2rem 1rem 2rem 1rem;
    position: relative;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-color: #f6f6f6;
    bottom: 3rem;
    z-index: 1;
    justify-content: space-around;
    @include breakpoint(phablet) { 
        padding: 2rem 4rem 2rem 4rem;
    }
    
    hr {
        height: 0.2rem;
        width: 2.6rem;
        border: none;
        background-color: #99E2D0;
        margin-left: 0;
        margin-bottom: 2rem;
    }

    h3,h3,h3 {
        font-size: 100%;
    }
    &__list {
        @include breakpoint(phablet) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        @include breakpoint(desktop) {
            margin: 0 10% 0 10%;
        }
    }

    &__title {
        margin-bottom: 2rem;
        @include breakpoint(phablet) { 
            text-align: center; 
        }
    }

    &__like--empty,
    &__like--filled {
        top: 2.3rem;
        right: 1rem;
        @include breakpoint(mobilemed) {
            right: 2rem;
        }
    }

    &__list h2 {
        font-size: 15px;
        font-weight: lighter;
        margin-bottom: 0.5rem;
    }

    &__starter,
    &__maincourse,
    &__dessert {
        background-color: white;
        border-radius: 1rem;
        box-shadow: 0 0 10px #0000002e;
        margin-bottom: 2rem;
        height: 4rem;
        position: relative;
        padding-left: 1rem;
        padding-top: 1rem;
        animation: fadeIn 0.7s ease-in both, top 0.5s linear;
        @include breakpoint(phablet) {
            width: 70%;
        }
    }

    &__starter:hover &__description,
    &__maincourse:hover &__description,
    &__dessert:hover &__description {
        width: 50%;
    }

    &__starter:hover &__price,
    &__maincourse:hover &__price,
    &__dessert:hover &__price {
        left: 65%;
    }

    &__starter:hover &__check,
    &__maincourse:hover &__check,
    &__dessert:hover &__check {
        left: 80%;
        visibility: visible;
        width: 20%;

        i,i,i {
            animation: rotation 0.3s linear 0.3s;
            visibility: visible;
        }
    }



    &__description {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        position: absolute;
        top: 3rem;
        font-size: 95%;
        width: 70%;
    }

    &__price {
        position: absolute;
        top: 3rem;
        font-weight: bold;
        left: 85%;
    }

    &__check {
        position: absolute;
        background-color: #99E2D0;
        height: 100%;
        display: flex;
        align-items: center;
        bottom: 0rem;
        width: 0%;
        justify-content: center;
        border-top-right-radius: 0.9rem;
        border-bottom-right-radius: 0.9rem;
        left: 100%;
        color: #fff;
        font-size: 1.375rem;
        visibility: hidden;
        transition: all 0.3s;

        &__check i {
            visibility: hidden;
        }

    }
    &__order {
        display: flex;
        justify-content: center;
        margin-top: 2rem;

    }
    &__button {
        @include button;
        width: 9rem;
        text-align: center;
    }

    &__button:hover {
        @include button-hover
    }
}